<div class="text-align: center">
  <h1 class="app-title">Student List</h1>
</div>
<div class="container">
  <h3 style="color: white;">Add a student</h3>
  <label for="name" style="color: white;">Name: </label>
  <input
    name="name"
    type="text"
    class="input-text"
    placeholder="Enter Student name"
    [(ngModel)]="studentValue.name"
  />
  <br />
  <label for="branch" style="color: white;">Branch: </label>
  <input
    name="branch"
    type="text"
    class="input-text"
    placeholder="Enter Branch name"
    [(ngModel)]="studentValue.branch"
  />
  <br />
  <label for="batch" style="color: white;">Batch: </label>
  <input
    name="batch"
    type="text"
    class="input-text"
    placeholder="Enter Batch name"
    [(ngModel)]="studentValue.batch"
  />
  <br />
  <button class="add-btn" (click)="addItem()" *ngIf="!isEditable">Add Student</button>
  <button class="add-btn" (click)="handleEdit()" *ngIf="isEditable">Edit Student</button>

  <div class="list">
    <table *ngIf="list.length > 0">
      <th></th>
      <th>Name</th>
      <th>Branch</th>
      <th>Batch</th>
      <th></th>
      <tr *ngFor="let item of list">
        <td>
          <input
          type="checkbox"
          style="cursor: pointer"
          (change)="getSelectedIds($event, item.id)"
          />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.branch }}</td>
        <td>{{ item.batch }}</td>
        <td>
          <button class="edit-btn" (click)="getEditableItem(item)">Edit</button>
          <button class="delete-btn" (click)="deleteItem(item.id)">Delete</button>
        </td>
      </tr>
    </table>
    <button class="delete-btn" style="margin-top: 8px;" (click)="handleMultipleDelete()" *ngIf="selectedIdArray.length > 0">Delete Selected Students</button>
  </div>
</div>
